/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00253a;
    color: #ffffff;
}

[data-field] {
    display: none;
}

.error {
    display: inline;
    font-style: italic;
    color: red;
    font-size: .8rem;
    margin-top: 2px;
}

span {
    display: inline;
}