/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    margin-top: 90px;
}

a:link, a:visited {
    text-decoration: none;
    /* color: #17a2b8; */
    color: #FA6B1B;
}

a:hover, a:focus {
    /* color: #ffffff; */
    color: #17a2b8;
}

[data-field] {
    display: none;
}

.error {
    display: inline;
    font-style: italic;
    color: red;
    font-size: .8rem;
}

span {
    display: inline;
}

ul {
    list-style-type: none;
}

.container-fluid {
    margin-top: 200px;
}


.nav-wrapper {
    /* box-shadow: 15px 15px 15px rgba(0, 0, 0, 0, .8); */
    border-bottom: 1px solid #17a2b8;
    position: fixed;
    top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr 1fr 100px 100px;
    justify-content: center;
    align-items: center;
    background-color: #292C35;
    /* background-color: #ffffff; */
    color: #ffffff;
    z-index: 2;    
}

.nav-link-logo {
    grid-column: 1/2;
}

.nav-link-library {
    grid-column: 2/3;
}

.nav-img {
    grid-column: 3/4;
}

.nav-profile {
    grid-column: 4/5;
    font-size: .75rem;
    float: left;
}

.nav-link-bands {
    grid-column: 5/6;
}

.login-btn {
    grid-column: 6/7;
}

.logout-btn {
    grid-column: 7/8;
}

.not-logged-in {
    float: right;
    font-size: .75rem;
    padding-top: 20px;
    padding-left: .5rem;
}

.login-page{
    position: absolute;
    top: -200px;
    background-image: url(../img/blur-bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: 200px;
}

.login-window {
    background-color: #4d5263;
    min-width: 400px;
}

.login-form {   
    color: #ffffff;
}

.login-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}


.profile-img img {
    border-radius: 50%;
    object-fit: cover;
    float: right;
}

.profile-img-large {
    border-radius: 50%;
    object-fit: cover;
}

.nav-profile ul {
    margin: 0;
    padding: .5rem;
}


.hero-img {
    background-image: url(../img/hero-img-1920x268.png);
    width: 100%;
    height: 250px;
    object-fit: cover;
    z-index: -1;
}

.main-page-text {
    /* background-color: #292C35;*/
    background-color: #FDF1ED;
    /* color: #ffffff;  */
    padding: 2rem;
    margin: 0 auto;
    width: 60%;
    border-radius: 5px;
}

.sign-up-text {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}

.riffcatcher-title-text {
    text-align: center;
    color: #17a2b8;  
    border: 1px solid #17a2b8;
    padding: 1rem;
    width: 50%;
    margin: 200px auto 0;
    border-radius: 5px;
    min-width: 400px;
}

#display-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display-files {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 1em;
    width: 500px;
}


.record-controls {
    padding: 1rem;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    min-width: 400px;
}

#recordingsList {
    text-align: center;
    margin-bottom: 150px;
}

.dropzone-wrapper {
    margin: 0 auto;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    position: relative;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0, .8);
}

#formats {
    color: #ffffff;
    margin: auto;
    width: 25%;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    top: 10px;
    font-size: 16px;
}

.dropzone, .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 50px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover, .dropzone-wrapper.dragover {
    /* background: #363636; */
    background-color: #17a2b8;
    /* border: solid 1px #17a2b8; */
    color: #ffffff;
    transition: all .7s ease-out;
    cursor: pointer;
}

.upload-file-btn {
    margin-left: 300px;
}

.box {
    position: relative;
    width: 100%;
}

.box-header {
    color: #17a2b8;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #17a2b8;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.save-btn {
    border: 1px solid #17a2b8;
    width: 100px;
    text-align: center;
    padding: 5px;
    color: #17a2b8;
    border-radius: 5px;
}

.save-btn:hover {
    background-color: #17a2b8;
    color: #ffffff;
}



.upload-btn {
    border: 1px solid #28A745;
    width: 100px;
    text-align: center;
    padding: 5px;
    color: #28A745;
    border-radius: 5px;
}

.upload-btn:hover {
    background-color: #28A745;
    color: #ffffff;
}

.image-description {
    font-size: .75rem;
    text-align: center;
}

.update-form {
    margin: auto;
    width: 330px;
}

.profile-page-wrapper {
    min-width: 670px;
}

th {
    padding: 1rem 1rem 0 1rem;
    color: aqua;
}

td {
    padding: 1rem;
    border: 1px solid #858585;
}

footer {
    background-color: #292C35;
    color: #ffffff;
}