/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00253a;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

[data-field] {
    display: none;
}

.error {
    display: inline;
    font-style: italic;
    color: red;
    font-size: .8rem;
}

span {
    display: inline;
}

ul {
    list-style-type: none;
}

#display-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display-files {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 1em;
    width: 500px;
}

.dropzone-wrapper {
    border: 1px solid #17a2b8;
    color: #17a2b8;
    position: relative;
    height: 50px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0, .8);
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    top: 10px;
    font-size: 16px;
}

.dropzone, .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 50px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover, .dropzone-wrapper.dragover {
    background: #363636;
    border: solid 1px #17a2b8;
    color: #ffffff;
    transition: all .7s ease-out;
    cursor: pointer;
}

.box {
    position: relative;
    width: 100%;
}

.box-header {
    color: #17a2b8;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #17a2b8;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.save-btn {
    border: 1px solid #17a2b8;
    width: 100px;
    text-align: center;
    padding: 5px;
    color: #17a2b8;
    border-radius: 5px;
}

.save-btn:hover {
    background-color: #17a2b8;
    color: #ffffff;
}

.upload-btn {
    border: 1px solid #28A745;
    width: 100px;
    text-align: center;
    padding: 5px;
    color: #28A745;
    border-radius: 5px;
}

.upload-btn:hover {
    background-color: #28A745;
    color: #ffffff;
}