.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 160px 1fr 100px 100px;
    justify-content: center;
    align-items: center;
}

.nav-link-logo {
    grid-column: 1/2;
}

.nav-link-library {
    grid-column: 2/3;
}

.nav-link-bands {
    grid-column: 3/4;
}

.nav-img {
    grid-column: 4/5;
}

.nav-profile {
    grid-column: 5/6;
}

.login-btn {
    grid-column: 6/7;
}


.logout-btn {
    grid-column: 7/8;

}

.not-logged-in {
    float: right;
}